<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h1>Paquetes</h1>
            </div>
            <div class="card-body">
                {{#if paquetes}}
                <ul class="list-group">
                    {{#each paquetes}}
                        
                            <li class="list-group-item my-3 border border-success">
                                <img src="{{urlimg}}" alt="" class="img-fluid">
                                <h5>{{origen}}-{{destino}}</h5>
                                <h6>Salida: <span class="p">{{fechaSalida}}</span  class="p"></h6>
                                <h6>Llegada: <span class="p">{{fechaLlegada}}</span  class="p"></h6>
                                <h6>hotel:<span class="p"> {{hotel}}</span  class="p"></h6>
                                <h6>Detalles:</h6>
                                <p>{{detalles}}</p>
                                <a class="far fa-edit btn btn-info m-1 p-2 d-block" href="/edit-paquete/{{@key}}" ></a>
                                <a class="far fa-trash-alt btn btn-primary m-1 p-2 d-block" href="/delete-paquete/{{@key}}"></a>
                            </li>
                        
                    {{/each}}
                </ul>
                {{else}}
                <p>No hay paquetes aún</p>
                {{/if}}
            </div>
            <div class="card-footer">
                <form action="/new-paquete" method="POST">
                    <div class="form-group">
                        <input type="text" name="origen" placeholder="origen" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="destino" placeholder="destino" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="fechaSalida">Salida:</label>
                        <input type="date" id="fechaSalida" name="fechaSalida">
                    </div>
                    <div class="form-group">
                        <label for="fechaLlegada">Llegada:</label>
                        <input type="date" id="fechaLlegada" name="fechaLlegada">
                    </div>
                    <div class="form-group">
                        <input type="text" name="hotel" placeholder="hotel" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="detalles" placeholder="detalles" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="url" name="urlimg" placeholder="urlimg" class="form-control">
                    </div>
                    <button class="btn btn-primary btn-block">
                        ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>