{{!-- NAVBAR --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item logged-out" style="display: none;">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signinModal">SignIn</a>
      </li>
      <li class="nav-item logged-out" style="display: none;">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">SignUp</a>
      </li>
      <li class="nav-item logged-in" style="display: none;">
        <a class="nav-link" href="#" id="logout">Logout</a>
      </li>
    </ul>
  </div>
  </div>
</nav>


{{!-- MAIN CONTENT --}}

    <div class="container logged-in">
        <div class="card">
            <div class="card-header">
                <h1>Paquetes</h1>
            </div>
            <div class="card-body">
                {{#if paquetes}}
                <ul class="list-group">
                    {{#each paquetes}}
                        
                            <li class="list-group-item my-3 border border-success">
                                <img src="{{urlimg}}" alt="" class="img-fluid">
                                <h5>{{origen}}-{{destino}}</h5>
                                <h6>Salida: <span class="p">{{fechaSalida}}</span  class="p"></h6>
                                <h6>Llegada: <span class="p">{{fechaLlegada}}</span  class="p"></h6>
                                <h6>hotel:<span class="p"> {{hotel}}</span  class="p"></h6>
                                <h6>Detalles:</h6>
                                <p>{{detalles}}</p>
                                <i class="fas fa-shopping-cart btn btn-block btn-success"></i>
                            </li>
                    {{/each}}
                </ul>
                {{else}}
                <p>No hay paquetes aún</p>
                {{/if}}
            </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="login-form">
            <div class="form-group">
                <input type="email" id="login-email" class="form-control" placeholder="email" required>
            </div>
            <div class="form-group">
                <input type="password" id="login-password" class="form-control" placeholder="contraseña" required>
            </div>
        <button type="submit" class="btn btn-secondary btn-block">Sign In</button>
        <button type="button" class="btn btn-primary btn-block" id="googleLogin"><i class="fab fa-google p-2"></i></button>
        <button type="button" class="btn btn-info btn-block" id="facebookLogin"><i class="fab fa-facebook-f p-2"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="signup-form">
            <div class="form-group">
                <input type="email" id="signup-email" class="form-control" placeholder="email" required>
            </div>
            <div class="form-group">
                <input type="password" id="signup-password" class="form-control" placeholder="contraseña" required>
            </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
